<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../statics/icon.png"/>
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" href="/statics/main.css">
    <link rel="stylesheet" type="text/css" href="/statics/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/statics/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/2.0.2/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css">
</head>
<body>
    <%- include('nav'); -%>
    <div class="main-content" style="margin-top: 150px">
        <table id="table" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((info)=>{ %>
                    <tr>
                        <td><%= info.id %></td>
                        <td><%= info.name %></td>
                        <td><%= info.age %></td>
                        <td><%= info.salary %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script src="statics/bootstrap.min.js"></script>
    <script src="/statics/jquery-3.6.0.min.js"></script>
    <script src="/statics/jquery.dataTables.min.js"></script>
    <script src="/statics/dataTables.searchPanes.min.js"></script>
    <script src="/statics/dataTables.select.min.js"></script>

    <script>
        $(document).ready(()=>{
            $('#table tfoot th').each(function() {
                let title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            let table = $('#table').DataTable({
                searchPanes: {
                    viewTotal: true
                },
                dom: 'Plfrtip'
            });
            table.columns().every( function() {
                let that = this;

                $('input', this.footer()).on('keyup change', function() {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
</body>
</html>